main {
    min-height: calc(100vh - 160px);
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    max-height: 700px;
}
.card img {
    max-width: 0.5fr;
}
.card-content {
    text-align: center;
}
.card h2 {
    font-size: 24px;
    height: 80px;
}
.card p {
    font-size: 16px;
}
.card a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
}
#contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
p {
  overflow-y: auto;
  max-height: 100px;
  text-align: justify;
  height: 100px;
}
img {
  aspect-ratio: 4/3;
  width:100%;
  object-fit: cover;
}